.container {
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(35, 17, 1, 0.5) , rgba(137, 50, 0, 0.3)) ,  url(../../images/header-bg.jpg);
  height: 150vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: -290px ;
  z-index: -10;

  
}



.textContainer {
  position: absolute ;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.textContainer h1 {
  font-size: 5rem;
  color:#d68b2f;
    
}

.textContainer {
  font-size: 4rem;
  color: #FFEBC1;
  
}

.textContainer p {
   font-weight: bold;
   margin-top: -70px;
   
}


button {
  
}


