.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffebc15e;
  align-items: center;
  list-style: none;
  z-index: 23;
  position: fixed;
  width:100%;
  font-size: 1.2rem;
  height: 130px;
  transition: all .3s;
  
}
.headerScroll {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #241500c3;
  align-items: center;
  list-style: none;
  z-index: 23;
  position: fixed;
  width:100%;
  transition: all .7s;

  
}

.iconContainer img {
  width: 80px;
  border-radius: 50%;
  margin: auto 0;

}
.logos {
  width: 50px;
  align-items: center;
  justify-content: center;
}
.text {
  font-weight: bold;
  color: gold;
  justify-content: center;
  align-items: center;
  margin-right: 25vh;
  margin-left: -25vh;



}

.list {
  display: flex;
  list-style: none;
}


.list li  {
  padding: 15px;
  cursor: pointer;
  color: #D7A86E;
  font-weight: bold;
  text-decoration: none;
}
.list li a {
  color: #D7A86E;
  text-decoration: none;
  transition: all .7s ;

}
.list li a:hover {
  color: #571700;
}
.iconContainer {
  position: relative;
}
.iconContainer a {
  font-size: 2.4rem;
  color: #1a73e8;
  padding-right: 75px;
  padding-top: 100px;
}

.iconContainer span {
  position: absolute;
  top: 12px;
  right: 85px;
  background-color: #0b499b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 18px;
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
  color: #fff;

}

@media (max-width : 1100px) {
  .text {
    display: none;
    transform: scaleZ(0);  
  
  
  
  }
}

@media(max-width : 750px ) {
  
  .close {
    display:inline-flex;
    flex-direction: column;
    background-color: #a64b2ae7;
    margin: 0;
    position: fixed;
    left: 0%;
    transform: scaleX(0);
    top: 0;
    width: 100vh;
    height: 100vh;
    backdrop-filter: blur(30px);
    border-bottom-right-radius: 10px;
    transform: scaleZ(100%);
    padding-top: 6vh ;
    padding-left: 10vh;
    z-index: 20;
    transform-origin: 1px ;
    transition: right linear .2s;
    opacity: 0.9;
    border-bottom-right-radius: 10px;

  } 
  .close h2 {
    visibility: hidden;
    transform: scaleZ(0);   
  }
  .list li a {
    color: #D7A86E;
    text-decoration: none;
    
  }
  .list li  {
    padding-top: 10px;
    cursor: pointer;
    color: #D7A86E;
    font-weight: bold;
    margin-left: -105%;
    text-decoration: none;
    z-index: 100;

  }
  .header {
    display: none;
    transform: scaleZ(0);    
  }
  .headerScroll {
    display: none;
    transform: scaleZ(0);    
  }
  .list {
    display: inline;
    
  }
  .list li {
    color: blue;

  }
  .list li :hover {
    color: rgb(120, 79, 157);
  }
  .iconContainer a {
    
    margin-left: -100%;
    width: 1px;
    padding: auto;
    
  }
  .iconContainer span {
    
  right:102%;
    
  }
  
}